.popup {
	width: 30%;
	position: absolute;
	z-index: 1;
}

table.filter_table {
	border-width: thin;
	border-style: outset;
	border-color: #FFFFFF;
	border-collapse: collapse;
}
table.filter_table th {
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: none;
	background-color: #fff;
}
table.filter_table td {
	padding: 4px;
	border-style: none;
	border-color: #6CB8E9;
}
table.filter_table tbody tr td {
      background-color: #fff;
 }
table.filter_table tbody tr.color2 td {
      background-color: #b2dbf6;
 }
table.filter_table tbody tr td.highlighted {
      background-color: #4CA1D8;
 }

table.filter_table_targets {
	border-width: thin;
	border-spacing: 2px;
	border-style: none;
	border-color: #6CB8E9;
	border-collapse: collapse;
    background-color: #fff;
}
table.filter_table_targets th {
	border-width: 1px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: outset;
	border-color: #6CB8E9;
}
table.filter_table_targets td {
	border-width: 1px;
	border-style: outset;
	border-color: #6CB8E9;
}
table.filter_table_targets td.highlighted {
      background-color: #4CA1D8;
 }

.hidden {
	display: none;
}
