.popup {
  width: 30%;
  position: absolute;
  z-index: 1;
  border-width: 1px;
  border-color: #000;
  background-color: #FFFFFF;
  border-style: solid;
}
.invitation {
  width: 99%;
  margin-top: 0px;
  background-top: 0px;
}
.fullwidth {
  width: 100%;
}
